/* schedule */

.schedule_tab {
   width: auto;
}

.schedule_scroll_container {
   width: auto;
}

.schedule_sheet {
   overflow: scroll;
   border: .5px solid #000;
}

.schedule_options {
   width: auto;
   margin-bottom: 1em;

   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.schedule_grid {
   overflow-x: scroll;
}

.schedule_grid .awesomplete {
   color: white;
   font-size: 12px;
}

.schedule_grid, .schedule_header {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.autofill {
   padding: 2px 3px 2px 3px;
   border: .5px solid #000;
   background: white;
}

.tournament_schedule {
   overflow-x: scroll;
   border: .5px solid #000;

   display: flex;
   flex-wrap: nowrap;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.column_schedule, .schedule_slots {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   border: .5px solid #000;
}

.schedule_slots {
   width: 6em;
   background: white;
   font-size: 12px;
}

.oop_round { height: 10em; width: 6em; }
.oop_round_header { height: 2em; width: 6em; }
.schedule_box { height: 10em; width: 12em; }
.court_header { height: 2em; background: white; width: 12em; }
.schedule_box, .court_header, .oop_round, .oop_round_header {
   font-size: 12px;
   border: .5px solid #000;
   padding: .2em;

   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}
.schedule_box .header {
   font-weight: bold;
}

.schedule_box .catround {
   width: 100%;
   font-size: .8em;
   font-style: italic;

   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.schedule_box .catround div {
   width: auto;
   padding-left: .5em;
   padding-right: .5em;
}

.schedule_box .round {
   margin-right: 2px;
}

.schedule_box .scheduled_teams {
   display: flex;
   height: 100%;
   width: 100%;
   text-align: center;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.schedule_box .match_score {
   margin-top: .1em;
   font-style: italic;
}
.schedule_box .match_status {
   margin-top: .1em;
   font-style: italic;
   font-weight: bold;
}
.schedule_box .match_umpire {
   margin-top: .1em;
   font-style: italic;
   color: red;
}
.schedule_box .scheduled_team, .schedule_box .match_score, .schedule_box .match_umpire {
   display: flex;
   width: 100%;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
}

.schedule_box .divider {
   font-size: .7em;
}

.scheduled_unscheduled {
   width: 100%;
}

.unscheduled_matches {
   width: 100%;
   min-height: 2em;
   max-height: 15em;
   overflow: scroll;
   border: .5px solid #000;
   margin-bottom: 1em;
   font-size: 12px;
}

.unscheduled_match {
   width: 100%;
   min-height: 1.5em;

   display: flex;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.unscheduled_match:hover {
   background: #EAEDED;
}

.unscheduled_match .left_team { 
   width: 20em;
   text-align: right; 
}
.unscheduled_match .right_team { 
   width: 20em; 
   text-align: left; 
}
.unscheduled_match .event_name {
   padding-left: 1em;
   width: 12em;
}
.unscheduled_match .event_round {
   padding-left: 1em;
   width: 3em;
}
