#hidden {
   overflow: hidden;
   position: relative;
}

#offscreen {
   position: absolute;
   left: -8000;
   top: -8000;
   height: 3000;
   width: 3000;
}

.filter_row {
   width: 100%;
   height: 'auto';
   display: flex;
   flex-direction: row;
   -webkit-align-content: stretch;
   align-content: stretch;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-flex-direction: row;
}

.category_filter {
   width: 100%;
   height: 'auto';
   display: flex;
   margin: 0em 0em 1em 0em;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.filters {
   width: 100%;
   display: flex;
   margin: 0em 0em 1em 0em;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.action_icon {
   width: 2em;
   height: 0;
   padding-bottom: 2em;
   background-size: 100%;
}
.action_icon_small {
   width: 1em;
   height: 0;
   padding-bottom: 1em;
   margin-left: .3em;
   margin-bottom: .3em;
   margin-top: .3em;
   background-size: 100%;
}
.ranking_order_inactive { background-image: url("../icons/rank_gray.png"); opacity: 0; }
.ranking_order_active { background-image: url("../icons/rank.png"); opacity: 0; }
.refresh_registrations { background-image: url("../icons/refresh_black.png"); opacity: 0; }
.filter_w_selected { background-image: url("../icons/w_selected.png"); }
.filter_m_selected { background-image: url("../icons/m_selected.png"); }
.filter_w_gray { background-image: url("../icons/w_gray.png"); }
.filter_m_gray { background-image: url("../icons/m_gray.png"); }

.automation_icon {
   width: 4em;
   height: 1.5em;
   padding-bottom: 2em;
   margin-left: .3em;
   margin-right: .3em;
   background-size: 100%;
}
.automated_draw_pause { background-image: url("../icons/draw_manual.png"); }
.automated_draw_play { background-image: url("../icons/draw_automated.png"); }

.print { 
   margin-left: 1em;
   background-image: url("../icons/pdf.png"); 
}

.drawdraw {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 800px;
    margin:0;
}

.link {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.draw_options {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.options_left {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.options_center {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.options_right {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.select_draw {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.tournament_container {
   width: 100%;
   font-size: 1em;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   display: flex;

}
.tournament_info, .settings_info { 
   width: 100%; 
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;

   -webkit-justify-content: top;
   justify-content: top;

   -webkit-justify-content: space-between;
   justify-content: space-between;

   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.tournament_name {
   font-weight: bold;
   font-size: larger;
   margin-top: 1em;
}

.point_title { 
   font-size: larger; 
   font-weight: bold; 
   margin-bottom: 1em;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.tournament_attrs {
   display: flex;
   flex-wrap: wrap;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.tournament_attr {
   display: flex;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   margin-bottom: 1px;
}
.attribute_box {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-content: space-between;
   align-content: space-between;
   margin-right: 1em;
   margin-bottom: 1em;
}

.point_info {
   height: auto;
   display: flex;
   flex-wrap: wrap;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.point_info_row {
   display: flex;
   flex-wrap: nowrap;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.player_points { 
   margin: 1em;
   width: inherit; 
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}
.player_row, .point_row { 
   min-width: 600px; 
}

.tournament_match { 
   margin-top: 2em;
   width: 100%; 
}

/* player identification */
.action_message {
   width: 80%;
   border: 1px solid gray;
   padding: 1em;
   margin: 1em;
   min-height: 5em;
}

.active_player { 
   margin-bottom: 1em;
   width: 100%; 
}
.plabel { 
   width: 100%; 
   font-weight: bold;
}
.pvalue { width: 100%; }

.action_frame {
   width: 100%;
   height: 50vh;
   overflow-y: scroll;
}

.action_header {
   width: 100%;
   font-weight: bold;
   border-bottom: 1px solid gray;
}

.action_type {
   width: 15%;
   text-align: left;
   font-weight: bold;
}

.action_name, .action_player { 
   width: 25%; 
   text-align: left;
}

.action_club {
   width: 7%; 
   text-align: left;
}
.action_year { width: 7%; }
.action_action { width: 15%; }

/* locations */

.location_abbr {
   text-align: left;
   width: 15%;
   overflow: hidden;
}

.location_name {
   text-align: left;
   width: 40%;
}

.location_address {
   text-align: left;
   width: 45%;
}

.location_attributes {
   width: 100%;
   margin-top: .5em;

   display: flex;
   flex-direction: column;
   -webkit-flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.attribute_groups {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   overflow: hidden;
}

.location_attribute {
   width: 100%;
   margin-bottom: .5em;

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.loclabel {
   min-width: 8em;
   font-weight: bold;
   text-align: left;
   margin-left: .5em;
}

.locvalue_long {
   margin-left: .5em;
   width: 30em;
}

.locvalue_short {
   margin-left: .5em;
   width: 10em;
}

.location_courts {
   margin-left: .5em;
   width: 2em;
}


/* events */
.events {
   padding: 0px;
   background-color: white;
   border: 1px solid lightgray;
}

.event_list {
   width: 100%;
   padding: .2em;
}
.events .events_actions {
   width: 100%;
   padding: .3em;
   display: flex;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   background-color: #F9FAFD;
}
.events .event_rows {
   width: 100%;
   display: flex;
   padding: .5em;
   margin-top: .2em;
   flex-direction: column;
   -webkit-flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.events .event_row {
   width: 100%;
   display: flex;
   padding: .1em;
   margin-top: .2em;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.events .events_header .cell { 
   border-bottom: 1px solid lightgray;
}
.events .event_row .event_name           { width: 35%; text-align: left; }
.events .event_row .event_draw_type      { width: 30%; text-align: left; }
.event_data { 
   width:  5%; 
   text-align: center;
}
.event_icon { 
   width: 1.2em;
   height: 0;
   padding-bottom: 1.2em;
   background-size: 100%;
}

.tab_icon { 
   width: 1.7em;
   height: 0;
   padding-bottom: 1.7em;
   background-size: 100%;
}

.time_header { background-image: url("../icons/time.png"); }
.opponents_header { background-image: url("../icons/players.png"); }
.drawsize_header { background-image: url("../icons/drawbracket.png"); }
.matches_header { background-image: url("../icons/match.png"); }
.matches_header_inactive { background-image: url("../icons/match_gray.png"); }
.status_header { background-image: url("../icons/status.png"); }
.rank_header { background-image: url("../icons/trophy.png"); }
.category_header { background-image: url("../icons/category.png"); }
.category_header_white { background-image: url("../icons/categorywhite.png"); }
.published_header { background-image: url("../icons/publishblack.png"); }
.unpublished { background-image: url("../icons/publish_black.png"); }
.reps_incomplete { background-image: url("../icons/reps_incomplete.png"); }
.reps_complete { background-image: url("../icons/reps_complete.png"); }
.publisheduptodate { background-image: url("../icons/publishblue.png"); }
.publishedoutofdate { background-image: url("../icons/publishyellow.png"); }
.published { background-image: url("../icons/publishgreen.png"); }
.cleardraw { background-image: url("../icons/recycle.png"); }

.surface_header { background-image: url("../icons/h_court.png"); }
.surface_grass { background-image: url("../icons/court_grass.png"); }
.surface_clay { background-image: url("../icons/court_clay.png"); }
.surface_hard { background-image: url("../icons/court_hard.png"); }
.surface_carpet { background-image: url("../icons/court_carpet.png"); }

.notcreated, .xmark { background-image: url("../icons/xmark.png"); }
.drawcreated { background-image: url("../icons/drawcreated.png"); }
.drawactive { background-image: url("../icons/drawactive.png"); }

.complete_header { background-image: url("../icons/complete.png"); }

.events .event:hover { background-color: #EAEDED }
.events .highlight_listitem { font-weight: bold }

.events button {
   margin: .2em;
   padding: .5em;
   background: white;
}
.events button:focus{ outline: none; }

.scoringformat {
   font-size: 16px;
   padding: 2px 8px 2px 8px;
   background: white;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
}

.event_details {
   width: 100%;
   padding: .2em;
   display: none;
   flex-direction: column;
   -webkit-flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.event_details .detail_header {
   width: 100%;
   padding: .3em;
   display: flex;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   background-color: #F9FAFD;
}

.event_details .detail_header .event_name {
   text-align: left;
}

.event_details .detail_header .event_name .event_type {
   font-weight: bold;
   color: #2E2EFE;
}

.event_details .detail_body {
   padding: .3em;
   width: 100%;
   display: flex;
   flex-direction: row;
   -webkit-flex-direction: row;
}
.event_details .detail_body .detail_config {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.event_details .detail_body .detail_selections {
   display: flex;
   flex-grow: 1;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.event_details .detail_body .detail_fields {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   flex-wrap: nowrap;
   min-width: 15em;
}
.event_details .detail_body .detail_column {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   min-width: 15em;
}
.event_details .detail_body .detail_players {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   margin-left: 1em;
}
.event_details .divider {
   font-weight: bold;
   margin-bottom: .5em;
   border-bottom: 1px solid gray;
}
.event_details .row {
   min-width: 10em;
}
.event_details .player_container {
   display: flex;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-bottom: .53em;
}

.event_details .detail_body .border_padding {
   padding-top: .2em;
   padding-bottom: .2em;
   margin-left: 1%;
   margin-right: 1%;
}
.event_details .detail_body .border {
   border: 1px solid #000;
   margin-right: 1%;
   margin-bottom: 1%;
}
.event_details .detail_body .team_box {
   width: 48%;
   display: flex;
   flex-direction: row;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.event_details .player_seed {
   font-weight: bold;
}

.event_details .player_order {
   font-style: italic;
}

.event_details .column {
   width: 50%;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}
.event_details .link_label {
   margin-top: .5em;
   height: 1.5em;
}
.event_details .link_field {
   margin-bottom: .5em;
   height: 1.5em;
}
.event_details .linked_draw {
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}

.event_details .entry_label {
   margin-right: .5em;
   margin-top: .5em;
   height: 1.5em;
   display: flex;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.event_details .entry_field {
   margin-top: .5em;
   height: 1.5em;
}

.event_details .dd li:hover li span:hover { background: lightblue; }
.draws .dd li:hover li span:hover { background: lightblue; }

.detail_header .save { background-color: #A9F5A9; }
.detail_header .del { background: #F5A9A9; }

.registered_players { font-size: 14px; }
.registered_count { width: 10%; }
.registered_player { width: 50%; }
.registered_attr { width: 20%; }

.signin-row { 
   width: 100%; 
   min-height: 1em;
}
.signin-row .rankentry input {
   border: 0;
   width: 2em;
   height: 100%;
   font-size: 1em;
   text-align: center;
   border-bottom: 1px solid lightGrey;
   background: #FFE;
}

.signin-row .ranksub input {
   border: 0;
   width: 2em;
   height: 100%;
   font-size: 1em;
   text-align: center;
   border-bottom: 1px solid lightGrey;
   border-left: 1px solid lightGrey;
   background: #FFE;
}

.rankvalue { min-width: 2em; }
.manualrank { min-width: 3em; }
.subrank { min-width: 2em; }

.rankrow {
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center;
   justify-content: center;
}

.player-entry {
   padding: .5em;
   display: flex;
   background-color: #000;
   -webkit-flex-direction: column;
   flex-direction: column;
}
.player-index input {
   border: 0;
   width: 2em;
   height: 100%;
   font-size: 1em;
   text-align: center;
}

.player-position {
   height: 50%;
   display: flex;
   padding: .5em;
   flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
   -webkit-align-content: center;
   -webkit-justify-content: center;
   background-color: #2f2f2f;
   color: white;
}

.signin-section {
   color: black;
   margin-top: .7em;
   font-size: 1.5em;
}

.signin-header {
   width: 100%;
   margin-top: 1em;
   margin-bottom: 1em;
   border-bottom: 1px solid gray;
}

/* settings */
.add_tournament {
   margin-right: 1em;
}
.tournamentattrs {
   margin-right: .5em;
}
.tournamentattr {
   height: 100%;
   display: flex;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-content: center;
   align-content: center;
   -webkit-align-items: center;
   align-items: center;
}
.tournamentattrvalues {
   width: 100%
}
.tournamentattrddlb {
   width: 100%;
   margin-bottom: 3px;
}
.tournamentattrvalue {
   width: 100%;
   margin-bottom: 3px;
   margin-left: 3px;
}

.tournamentattrvalue .awesomplete {
   color: white;
}
.reps .awesomplete {
   color: white;
}

.add_tournament_form input {
   width: 100%;
   font-size: 12pt;
   height: 1.5em;
}


/* matches display */
.match_row { 
   width: 100%; 
   font-size: 12px;
}
.match_row .duration { width: 5%; }
.match_row .court { width: 10%; }
.match_row .schedule_details { width: 25%; }
.match_row .s_score { 
   color: red;
   width: 10%; 
}

.team { 
   width: 50%;
   font-weight: bold; 
}
.total { color: blue; font-weight: bold; }
.col { width: 20%; }

.teams {
   width: 65%;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: left;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.trny { width: 25%; text-align: left; padding-left: 1em; }
.score { width: 15%; text-align: right; padding-right: 1em; }
.mdate { width: 10%; }
.round { width: 5%; }

/* end matches display */

/* player representatives */

.reps .rtitle {
   font-size: 1.2em;
   font-weight: bold;
   margin: .5em;
}
.reps .rinput {
   font-size: 1em;
   margin: .5em;
}
