.jstabs.shadow { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.jstabs .hscroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.jstabs .jst {
    display: flex;
    flex: 0 0 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: white;
}
.jstabs .jst li {
    padding: 1em;
    display: inline;
    text-align: center;
    background-color: white;
}
.jstabs .jst li:hover {
    background-color: #DFE4FC;
}
.jstabs .jst li.is-active {
    display: inline;
    transition: 0.3s;
}
.jstabs .jstab:not(.is-active) { display: none; }
.jstabs .jstab.is-active { display: block; }
