
.jstabs {
   width: inherit;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jstabs .tabs {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: white;
}
.jstabs .tabs span {
    padding: 1em;
    display: inline;
    text-align: center;
    background-color: white;
}
.jstabs .tabs span:hover {
    background-color: #DFE4FC;
}
.jstabs .tabs span.selected {
    display: inline;
    background: #F9FAFD;
    transition: 0.3s;
}
.jstabs .tab:not(.selected) { display: none; }
.jstabs .tab.selected {
    background-color: #F9FAFD;
    display: block;
    padding: 1em;
}
